registry=https://registry.npmjs.org
# https://pnpm.io/zh/cli/run#%E4%B8%8E-npm-run-%E7%9A%84%E5%B7%AE%E5%BC%82
enable-pre-post-scripts=true
strict-peer-dependencies=false
ignore-workspace-root-check=true
PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1
