.masonry {
    .demo-controller {
        label {
            margin-right: var(--cos-space-xxs);
            min-width: 220px;
        }
        .cos-select {
            width: 160px;
        }
        .cos-input {
            width: 160px;
        }
    }
}
